<div class="pt-3" >
 
  <img src="images/elec.jpg" alt="iPhone">
</div>

<div class="row m-auto container mt-4">
  @for(product of products; track product._id){
  <div class="card m-2 col-4" style="width: 18rem;">
    <img [src]="imgDomain+product.cover" class="card-img-top w-100 h-50" [alt]="product.name">
    <div class="card-body position-relative">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text">{{product.description}}</p>
      <p class="card-text">price : {{product.price|currency}}</p>
      <p class="card-text">{{product.ratingAverage|number:'1.1-1'}} &star; - count {{product.ratingCount}}</p>
      <div class="pb-5 text-warning ">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </div>



     <div class="justify-content-start align-items-center mx-auto ">
      <button (click)="addToCart(product._id)" type="button" class="button py-2">
        <span class="button__text">Add Item</span>
        <span class="button__icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg"><line y2="19" y1="5" x2="12" x1="12"></line><line y2="12" y1="12" x2="19" x1="5"></line></svg></span>
      </button>
    <a [routerLink]="['/products',product._id]" class="btn  btn-primary mt-2" >See More</a>   

</div>
    
    </div>
  </div>
  }
</div>